.container {
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: rgba(184, 203, 33, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo img {
  height: 150px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: red;
}

main {
  display: flex;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
}

#mission img {
  max-width: 50%;
  float: left;
  margin-right: 10px;
}
section#about-us {
  flex: 1;
  margin-right: 20px;
}

section#about-us .button {
  float: right;
}

section#mission {
  flex: 2;
  margin-right: 20px;
}

section#mission .button {
  float: right;
}
.button {
  background-color: rgba(184, 203, 33, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}
footer {
  background-color: rgba(184, 203, 33, 255);
  padding: 20px;
  text-align: center;
  font-weight: bold;
  width: 855px;
  margin: auto;
}
