*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.main-wrapper {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.left-container {
  width: 50%;
  padding: 20px;
  background-image: linear-gradient(
    to top,
    rgba(50, 43, 234, 255),
    rgba(102, 67, 254, 255)
  );
  border: 1px solid #000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2em;
}

h1 {
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.589);
}

.circle {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0); /* Add this line to make the border transparent */
  border-radius: 50%;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to top,
    rgba(102, 100, 200, 255),
    rgba(50, 43, 234, 255)
  );
}

.big {
  font-size: 3em;
  margin-bottom: 0.1em;
  margin-top: 0.2em;
  font-weight: bold;
}
.small {
  font-size: 0.8em;
  margin-top: 0.3em;
  margin-left: 0.6em;
  color: rgba(255, 255, 255, 0.5);
}

.small-circle {
  text-align: center;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
  width: 65%;
  margin: auto;
  word-wrap: break-word;
}

.right-container {
  width: 50%;
  background-color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.1);
}

.item {
  display: grid;

  row-gap: 20px;
  column-gap: 60px;
}

.button-continue {
  width: 100%;
  background-color: rgba(48, 59, 89, 255);
  border: none;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 40px 5px;
  cursor: pointer;
  border-radius: 40px;
  transition-duration: 0.4s;
}
.button-continue:hover {
  background: rgba(102, 67, 254, 255);
  color: white;
}

.label-1 {
  font-weight: bold;
  color: red;
}
.label-2 {
  font-weight: bold;
  color: orange;
}
.label-3 {
  font-weight: bold;
  color: green;
}
.label-4 {
  font-weight: bold;
  color: blue;
}
.bold {
  font-weight: bold;
}
.light {
  color: rgba(122, 120, 120, 0.7);
  font-weight: bold;
}

.red-background {
  background-color: rgba(255, 0, 0, 0.2);
  padding: 5px;
  border-radius: 15px;
}
.yellow-background {
  background-color: rgba(248, 244, 10, 0.2);
  padding: 5px;
  border-radius: 15px;
}
.green-background {
  background-color: rgba(6, 209, 23, 0.2);
  padding: 5px;
  border-radius: 15px;
}
.blue-background {
  background-color: rgba(1, 5, 238, 0.2);
  padding: 5px;
  border-radius: 15px;
}

.result-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  gap: 50px;
}
