body {
  background-color: darkslategray;
  color: white;
}

main {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.pink {
  background-color: violet;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 30px;
}

form input,
form textarea,
form select {
  font-size: 20px;
  padding: 0.5rem;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
}

#age {
  width: 21%;
}
button:hover {
  background-color: rgb(73, 72, 72);
}

label[for="terms"] {
  font-size: 20px;
}

input[type="checkbox"]:checked + label {
  color: blue;
}

input[readonly] {
  background-color: rgb(175, 172, 172);
  color: black;
  border: 5px solid rgb(5, 5, 5);
  border-top: 5px solid rgb(8, 8, 8);
  border-right: 5px solid rgb(90, 88, 88);
  border-bottom: 5px solid rgb(90, 88, 88);
}

input:valid,
textarea:valid,
input:in-range {
  border: 5px solid green;
}

input:invalid,
textarea:invalid,
input:out-of-range {
  border: 5px solid red;
}

input:required,
textarea:required {
  border-left: 5px solid violet;
}

button {
  font-size: 30px;
  padding: 0.5rem;
  background-color: darkgreen;
  color: white;
  border: 3px solid black;
  border-left: 3px solid grey;
  border-top: 3px solid grey;
  width: 50%;
  margin: 0 auto;
}
