body {
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
  // padding: 0 32px;
  cursor: pointer;
}

body,
html {
  overflow-x: hidden;
}

.carousel-item {
  width: auto;
  height: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

@media screen and (max-width: 475px) {
  .header-nav-desktop {
    display: none;
  }
  .header-nav {
    display: flex;
    justify-content: space-between;
  }

  div.logo-name {
    display: flex;
    margin-top: 40px;
    span {
      color: #647864;
      font-size: 20px;
      margin: 0 8px;
      font-weight: 500;
    }
  }

  .menu-icon {
    margin-top: 42px;
    display: flex;
  }

  .btn-get-started::after {
    content: "→";
    display: inline-block;
    margin-left: 50px;
  }

  .btn-get-started {
    background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
    border: none;
    border-radius: 2px;
    font-size: 10px;
    padding: 13px 25px;

    &:hover {
      background: linear-gradient(102.3deg, darken(#647b64, 10%) -4.62%, darken(#66ac66, 10%) 178.22%);
    }

    &:focus,
    &:active {
      background: linear-gradient(102.3deg, darken(#647b64, 20%) -4.62%, darken(#66ac66, 20%) 178.22%);
      border: none;
    }
  }

  h1 {
    font-size: 24px;
  }
  p {
    font-size: 10px;
    font-weight: 400;
  }
  h2 {
    font-size: 20px;
    color: #647b64;
    font-weight: 500;
  }
  h4 {
    font-size: 12px;
    margin: 10px 0;
  }

  section.first {
    display: flex;
    text-align: left;
    position: relative;
  }
  div.left {
    margin-top: 80px;
    width: 70%;
  }

  div.right {
    position: absolute;
    right: -170px;
    width: auto;
  }

  div.right img {
    overflow: hidden;
    height: 480px;
    width: 280px;
  }

  section.second {
    margin: 50px 0;
    text-align: left;
    width: 70%;
    h3 {
      font-size: 13px;
      color: #f3b562;
    }
  }

  section.third {
    img.s-third-img {
      width: 20px;
      height: 20px;
    }
    .img-bg {
      position: relative;
      display: inline-block;
    }
    .img-bg::after {
      content: "";
      position: absolute;
      top: -5px;
      left: -10px;
      right: -10px;
      bottom: -5px;
      background-color: #647864;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    // .col:hover .img-bg::after {
    //   opacity: 0.5;
    //   border-radius: 10px;
    // }

    // .col:first-of-type {
    //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); // Example shadow
    // }
    .col {
      padding: 20px;
      transition: box-shadow 0.5s ease, opacity 0.5s ease;
      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);

        .img-bg::after {
          opacity: 0.5;
          border-radius: 10px;
        }
      }
      p {
        font-size: 8px;
      }
    }
  }

  section.fourth {
    padding: 20px 0;

    .bg-2 {
      background-color: #647864;
      border-radius: 5px;
    }
    .bg-1 {
      background: linear-gradient(358.27deg, rgba(100, 123, 100, 0.77) -118.86%, rgba(100, 123, 100, 0) 25.62%, rgba(100, 123, 100, 0) 98.53%);
      border-radius: 5px;
    }
  }

  section.fifth {
    position: relative;
    overflow: hidden;
    padding: 40px 0;
    height: 300px;

    .overflow-img {
      position: absolute;
      left: -530px;
      width: auto;
      height: auto;
    }

    .text {
      margin-left: 120px;
      text-align: left;
      margin-top: 50px;
    }
  }

  section.sixth {
    padding: 40px 0;

    .carousel-item {
      width: 100%;
      height: auto;
    }
  }
  footer {
    padding: 20px 0;
    background-color: #f0dcc5;
    .social-media-icons {
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 20px 50px;
      gap: 40px;
    }
  }
}
